* {
  margin: auto 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  background: rgb(255, 255, 255);
  color: rgb(27, 27, 27);
  font-family: "Poiret One", cursive;
}

/*NAV STYLING */
nav {
  padding: 8px;
}

.logo {
  float: left;
  padding: 8px;
  margin-left: 16px;
  margin-top: 8px;
}

.logo a {
  color: #000;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0px;
  text-decoration: none;
  font-family: "Sofia", cursive;
}

nav ul {
  float: right;
}

nav ul li {
  display: inline-block;
  float: left;
  line-height: 2.8em;
  cursor: pointer;
}

nav ul li:not(:first-child) {
  margin-left: 48px;
}

nav ul li:last-child {
  margin-right: 24px;
}

nav ul li a {
  display: flex;
  outline: none;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 10px;
  letter-spacing: 1.2px;
  font-weight: 500;
  position: relative;
  letter-spacing: 0.2em;
  cursor: pointer;
  font-weight: bold;
}

nav ul li a::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 12px;
  height: 1px;
  width: 100%;
  background: #020400;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s linear;
}

nav ul li a:hover:before {
  transform: scaleX(1);
  transform-origin: left;
}

@media screen and (max-width: 900px) {
  .logo {
    padding: 0;
  }

  .items {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: #fff;
    /* opacity: 0; */
    display: none;
    transition: all 0.2s ease;
  }

  .items ul {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
  }

  .items ul li {
    /* display: block; */
    display: flex;
    align-items: center;
    justify-content: center;
    float: none;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }

  .items ul li:hover {
    opacity: 0.7;
  }

  .items ul li:nth-child(1) a {
    transition-delay: 0.2s;
  }

  .items ul li:nth-child(2) a {
    transition-delay: 0.3s;
  }

  .items ul li:nth-child(3) a {
    transition-delay: 0.4s;
  }

  .items ul li:nth-child(4) a {
    transition-delay: 0.5s;
  }

  .items ul li:not(:first-child) {
    margin-left: 0;
  }

  .items ul li a {
    padding: 10px 24px;
    opacity: 0;
    color: #000;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 1.2px;
    transform: translateX(-20px);
    transition: all 0.2s ease;
    position: relative;
    letter-spacing: 0.2em;
  }

  .nav-btn {
    position: fixed;
    right: 10px;
    top: 3px;
    display: block;
    width: 48px;
    height: 48px;
    cursor: pointer;
    z-index: 9999;
    border-radius: 50%;
  }

  .nav-btn i {
    display: block;
    width: 20px;
    height: 2px;
    background: #000;
    border-radius: 2px;
    margin-left: 14px;
  }

  .nav-btn i:nth-child(1) {
    margin-top: 16px;
  }

  .nav-btn i:nth-child(2) {
    margin-top: 4px;
    opacity: 1;
  }

  .nav-btn i:nth-child(3) {
    margin-top: 4px;
  }
}

#nav:checked + .nav-btn {
  transform: rotate(45deg);
}

#nav:checked + .nav-btn i {
  background: #000;
  transition: transform 0.2s ease;
}

#nav:checked + .nav-btn i:nth-child(1) {
  transform: translateY(6px) rotate(180deg);
}

#nav:checked + .nav-btn i:nth-child(2) {
  opacity: 0;
}

#nav:checked + .nav-btn i:nth-child(3) {
  transform: translateY(-6px) rotate(90deg);
}

#nav:checked ~ .items {
  z-index: 9990;
  /* opacity: 1; */
  display: block;
}

#nav:checked ~ .items ul li a {
  opacity: 1;
  transform: translateX(0);
}

.hidden {
  display: none;
}
/*SLIDER STYLING*/

#i1,
#i2,
#i3,
#i4,
#i5 {
  display: none;
}

.container {
  margin: 0 auto;
  margin-top: 40px;
  position: relative;
  width: 100%;
  height: 100vh;
  padding-bottom: 38%;
  user-select: none;
  background-image: url(../images/michael-dziedzic-gEN5Btvf2Eg-unsplash.jpg);
  background-size: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container .slide_img {
  position: absolute;
  width: 100%;
  height: 100vh;
}
.container .slide_img img {
  width: 100%;
  height: inherit;
}

.container #nav_slide {
  width: 100%;
  bottom: 12%;
  height: 11px;
  position: absolute;
  text-align: center;
  z-index: 99;
  cursor: default;
}

#nav_slide .dots {
  top: -5px;
  width: 18px;
  height: 18px;
  margin: 0 4px;
  position: relative;
  border-radius: 100%;
  display: inline-block;
  background-color: rgba(34, 33, 33, 0.6);
  transition: 0.4s;
}

#nav_slide .dots:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.9);
  transition: 0.25s;
}

.slide_img {
  z-index: -1;
}

#i1:checked ~ #one,
#i2:checked ~ #two,
#i3:checked ~ #three,
#i4:checked ~ #four,
#i5:checked ~ #five {
  z-index: 9;
  animation: scroll 1s ease-in-out;
}

#i1:checked ~ #nav_slide #dot1,
#i2:checked ~ #nav_slide #dot2,
#i3:checked ~ #nav_slide #dot3,
#i4:checked ~ #nav_slide #dot4,
#i5:checked ~ #nav_slide #dot5 {
  background-color: rgba(255, 255, 255, 0.9);
}

@keyframes scroll {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
@media screen and (max-width: 1200px) {
  .container {
    border: none;
    width: 100%;
    height: 100vh;
    padding-bottom: 55%;
  }
  .slide_img {
    height: 100vh;
  }
  #nav_slide .dots {
    width: 12px;
    height: 12px;
  }
}

/*style for the slides*/
#one,
#two,
#three,
#four,
#five {
  background: rgba(0, 0, 0, 0.7);
  /* display: block;
    text-align: center; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
  height: 100vh;
}
#one,
#two,
#three,
#four,
#five > * {
  color: white;
}
.one_body,
.two_body,
.three_body,
.four_body,
.five_body > * {
  font-weight: lighter;
  letter-spacing: 0.2em;
}
.des {
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  padding: 10px;
}
.btn_1 {
  padding: 20px;
  background: transparent;
  outline: none;
  border: 1px solid gray;
  cursor: pointer;
}
.btn_1 a {
  color: white;
  text-decoration: none;
  font-size: large;
  letter-spacing: 0.1em;
}

.first {
  margin-top: 50px;
  height: 100px;
  color: rgb(245, 27, 27);
  background: #000;
}
/*projects styling*/
#projects {
  margin-top: 10vh;
  margin-bottom: 130px;
}
.projects {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
}
#projects h1 {
  text-align: center;
  padding-bottom: 0;
  font-size: 30px;
}
.first_pro,
.sec_pro,
.third_pro,
.fourth_pro,
.fifth_pro {
  width: 270px;
  height: 330px;
  display: block;
  text-align: center;
  padding: 20px;
}
.first_pro:hover,
.sec_pro:hover,
.third_pro:hover,
.fourth_pro:hover,
.fifth_pro:hover {
  -webkit-box-shadow: 0px 3px 7px 0px rgba(50, 53, 50, 0.5);
  -moz-box-shadow: 0px 3px 7px 0px rgba(50, 53, 50, 0.5);
  box-shadow: 0px 3px 7px 0px rgba(50, 53, 50, 0.5);
}

.first_pro a img,
.sec_pro a img,
.third_pro a img,
.fourth_pro a img,
.fifth_pro a img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  padding: 40px;
  transform: scale(1);
  transition: 0.3s ease-in-out;
  border: 1px solid rgb(241, 238, 238);
}
.first_pro h2 a,
.sec_pro h2 a,
.third_pro h2 a,
.fourth_pro h2 a,
.fifth_pro h2 a {
  font-size: 18px;
  padding: 10px;
  font-weight: bolder;
  text-decoration: none;
  color: rgb(70, 68, 68);
}
.first_pro:hover a img,
.sec_pro:hover a img,
.third_pro:hover a img,
.fourth_pro:hover a img,
.fifth_pro:hover a img {
  transform: scale(1.3);
  border: none;
}

@media screen and (max-width: 540px) {
  .first_pro {
    padding: 0;
    width: 250px;
  }
}
.pro_des {
  font-size: 14px;
}
/*about section styling*/
#about {
  background-image: url(../images/Vector.png);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  margin-bottom: 100px;
  height: 400px;
}
@media screen and (max-width:800px) {
  #about {
    height: 600px;
    margin-bottom: 120px;
  }
}
#about h1 {
  text-align: center;
  padding: 10px;
}
.about p {
  padding: 5px;
}
.btns {
  margin-top: 10px;
  margin-bottom: 25px;
}
.btns button {
  padding: 15px;
  width: 180px;
  border-radius: 2px;
  outline: none;
  border: 1px solid rgba(34, 33, 33, 0.6);
  background: transparent;
  cursor: pointer;
  margin: 5px;
}
.btns button a {
font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-decoration: none;
  color: rgb(70, 68, 68);
}
.about {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  letter-spacing: 0.1em;
  /* background: rgba(0, 0, 0, 0.8); */
  /* color:rgb(31, 30, 30); */
  opacity: 0.9;
}
.main_des {
  width: 80%;
}
.main_des p {
  font-size: 15px;
}
@media screen and (max-width: 500px) {
  .btns {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .btns button {
    margin: 5px;
    width: 250px;
  }
}
/*testimonial*/
.test_slide {
  text-align: center;
  padding: 2em 0;
  height: 400px;
  max-width: 750px;
  margin: auto;
  position: relative;
  overflow: hidden;
}

.test_slide .slides {
  width: 400%;
  left: 0;
  padding-left: 0;
  overflow: hidden;
  list-style: none;
  position: relative;

  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
}
.test_slide .slides li {
  width: 25%;
  position: relative;
  float: left;
}
.test_slide li p {
  margin-top: 0;
}
.test_slide li q {
  max-width: 90%;
  margin: auto;
  font-size: 14px;
  font-weight: lighter;
  letter-spacing: 0.1em;
}
.test_slide li img {
  width: 6em;
  height: 6em;
  object-fit: cover;
  border-radius: 50%;
  margin-left: -1.5em;
  margin-right: 0.5em;
  vertical-align: middle;
}

.test_slide .slidesNavigation {
  display: block;
  list-style: none;
  text-align: center;
  bottom: 1em;
  position: absolute;
  width: 104px;
  left: 50%;
  margin-left: -52px;
}
.test_slide input {
  display: none;
}
.test_slide .slidesNavigation label {
  float: left;
  margin: 6px;
  display: block;
  height: 13px;
  width: 13px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: solid 1px #343536;
  font-size: 0;
}

#radio-1:checked ~ .slides {
  transform: translateX(0%);
}
#radio-2:checked ~ .slides {
  transform: translateX(-25%);
}
#radio-3:checked ~ .slides {
  transform: translateX(-50%);
}
#radio-4:checked ~ .slides {
  transform: translateX(-75%);
}

.test_slide .slidesNavigation label:hover {
  cursor: pointer;
}

.test_slide #radio-1:checked ~ .slidesNavigation label#dotForRadio-1,
.test_slide #radio-2:checked ~ .slidesNavigation label#dotForRadio-2,
.test_slide #radio-3:checked ~ .slidesNavigation label#dotForRadio-3,
.test_slide #radio-4:checked ~ .slidesNavigation label#dotForRadio-4 {
  background: #484a4b;
}

@media (max-width: 796px) {
  .test_slide {
    height: 400px;
  }
}
@media (max-width: 480px) {
  .test_slide li p {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
  #testimonial p {
    height: 355px;
  }
  .test_slide li q {
    font-size: 0.8em;
  }
  .test_slide li img {
    width: 6em;
    margin-left: -1em;
    margin-right: 0.25em;
  }
}
#testimonial h1 {
  text-align: center;
  margin-top: 10px;
}
#testimonial p {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 250px;
}
/*skills */
.skills {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  margin-top: 30px;
}
.first_skill,
.sec_skill,
.third_skill,
.fourth_skill,
.fifth_skill {
  width: 220px;
  height: 320px;
  display: block;
  text-align: center;
  padding: 50px;
  margin: 15px;
  -webkit-box-shadow: 0px 3px 7px 0px rgba(190, 190, 190, 0.5);
  -moz-box-shadow: 0px 3px 7px 0px rgba(189, 189, 189, 0.5);
  box-shadow: 0px 3px 7px 0px rgba(165, 165, 165, 0.5);
}
.first_skill img,
.sec_skill img,
.third_skill img,
.fourth_skill img,
.fifth_skill img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
}
#skills h1 {
  text-align: center;
}
#skills {
  margin-top: 5vh;
  margin-bottom: 20px;
}
/*contact*/
#contact {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  margin-top: 5vh;
  background-image: url(../images/map.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 15vh;
}
.contact_card {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 600px;
  margin: 70px;
}
.form {
  display: flex;
  flex-direction: column;
  background: white;
  color: black;
  margin-top: 0;
  height: 400px;
  width: 100%;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.form input {
  border: none;
  border-bottom: 1px solid;
  outline: none;
  padding: 10px;
  margin-left: 10px;
}
.contact {
  background-image: url(../images/andres-jasso-1NbA4Lh7rsg-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 200px;
  margin-top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.contact h1 {
  color: black;
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.5);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.mesg {
  display: flex;
  align-items: center;
  justify-content: center;
}
.mesg textarea {
  margin: 5px;
  outline: none;
  margin-left: 10px;
  padding: 5px;
  color: rgb(44, 43, 43);
  border: none;
  border-bottom: 1px solid;
}
#send {
  width: 150px;
  height: 40px;
  background: rgb(156, 187, 187);
  text-transform: uppercase;
  font-weight: lighter;
  outline: none;
  border: 1px solid rgb(216, 216, 216);
  border-radius: 20px;
  cursor: pointer;
  transform: scale(1);
  transition: 0.3s ease-in-out;
}
#send:hover {
  transform: scale(1.3);
}
@media screen and (max-width: 950px) {
  .contact_card {
    width: 70%;
  }
}
@media screen and (max-width: 520px) {
  .contact_card {
    width: 80%;
  }
}
/*footer*/
footer {
  margin-top: 5vh;
}
footer p {
  text-align: center;
  font-size: 13px;
  color: rgb(65, 64, 64);
}

.heading {
  position: relative;
}
.heading span {
  background: white;
}
.heading::before {
  content: "";
  display: block;
  width: 100px;
  height: 2px;
  background: #000;
  position: absolute;
  left: 40%;
  top: 50%;
  z-index: -2;
}
.heading::after {
  content: "";
  display: block;
  width: 100px;
  height: 2px;
  background: #000;
  position: absolute;
  right: 40%;
  top: 50%;
  z-index: -2;
}
hr {
  margin-top: 25px;
}
.top{
  position: fixed;
  width: 50px;
  height: 50px;
  background: #94adb9;
  bottom: 40px;
  right: 20px;
  border-radius: 100%;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  color: white;
  font-size: 22px;
}
.links_grid{
  display: grid;
  grid-template-columns:repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 10px;
  text-align: center;
  padding: 5px;
}
.links_grid a {
   text-decoration: none;
   color: rgb(57, 58, 58);
}
.links_grid a:hover {
  opacity: .9;
}
footer h1 {
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: lighter;
  padding: 20px;
}